#mainWrapper{
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10dvh auto;
    padding: 10px;
    box-shadow: inset orangered 10px 10px 100px;
    border: 2px solid black;
    border-radius: 10px;
}
#top{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4%;
    box-shadow: inset yellow 10px 10px 50px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
#empty_msg{
    display: none;
    margin: 0 40%;
}
#bottom{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4%;
    box-shadow: inset lightgreen 10px 10px 100px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll ;
}
img{
    width: 12.5%;
    height: 80%;
    margin: 2%;
    border: 2px solid blue;


}
img:hover{
    animation-name: flip;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}
@keyframes flip {

    from{}
    to{
        
        transform: rotateZ(-360deg) scale(1.2);
    }
}