#mainWrapper{
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 5%;
    box-shadow: inset orange -10px -10px 100px;
}
#tabs{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    border-radius: 5%;

}
#content{
    width: 90%;
    height: 70%;
    border: 5px solid black;
    border-radius: 5%;
}
button{
    width: 40%;
    height: 70%;
    color: white;
    background-image: radial-gradient(blue);
}
button:hover{
    box-shadow: inset -10px 10px 20px white;
}